# deps
node_modules/
.pnpm-store/
package-lock.json

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# db file (don't commit the database)
*.db
*.db-shm
*.db-wal

# drizzle migrations (optional to commit)
drizzle/

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*
.yarn-integrity
coverage/
*.log
.vercel
.env*.local
tsconfig.tsbuildinfo
.vscode/
.idea/
